ul.pagination {
	display: flex;
	list-style-type: none;
	justify-content: center;
	gap: 1em;
}

ul.pagination li {
	color: #0381be;
	text-transform: uppercase;
	user-select: none;
	cursor: pointer;
}

.active {
	color: gray;
	font-weight: bold;
}
